<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账单</title>
    <script src = "/static/js/jquery-3.3.1.min.js"></script>
    <script src = "/static/js/bootstrap.min.js"></script>
    <script src = "/static/js/title.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <style type="text/css">
        body{
            background-color: #ededed;
        }
        .navbar-nav{
            float: right;
        }

        .content{
            margin-top: 100px;

        }
        .title{
            margin-bottom: 20px;
        }
        .Bill{
            height:300px;
        }
        img{
            width:72px;
            height:41px;
        }
        </style>
</head>
<body>
    <div class = "nav navbar-inverse navbar-fixed-top">
    <div class = "container-fluid">
        <div class ="navbar-header">
            <div class = "navbar-brand nickname">
            </div>
        </div>
        <ul class = "nav navbar-nav status">
        </ul>
    </div>
</div>

    <div class = "container content">
        <div class ="row">
            <div class = "col-md-12 title">
                <h1 class="text-left text-info">我已购买的商品</h1>
            </div>
            <div class = "col-md-12 pre-scrollable">
                <div class ="Bill">
                    <table class = "table table-striped">
                        <tr >
                            <th class = "text-center">商品图片</th>
                            <th class = "text-center">商品名称</th>
                            <th class = "text-center">购买时间</th>
                            <th class = "text-center">商品价格</th>
                            <th class = "text-center">购买数量</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript">

    Title()//状态的抓取
    var index = 0;

    //转化时间戳成时间格式
    function Totime(timestamp) {
        var newDate = new Date();
        newDate.setTime(timestamp);
        return newDate.toDateString();
    }


    $.get("/balance/products",{index:index},function (data) {
        var list = data['object'];
        console.log(list);
        for(var i = 0 ; i < list.length;i++){
            $(".table").append(
                "<tr>"+
                "<th class = 'text-center'><img src="+list[i]['pic']+"></th>"+
                "<th class = 'text-center'>"+list[i]['title']+"</th>"+
                "<th class = 'text-center'>"+Totime(list[i]['buytime'])+"</th>"+
                "<th class = 'text-center'>"+list[i]['price']+"</th>"+
                "<th class = 'text-center'>"+list[i]['sold']+"</th>"+
                "</tr>"
            )
        }
    })
</script>
</html>